
 body{
  height: 100hv;
  background-color: rgb(131, 131, 131);
  margin: 0 auto;
  padding-top: 100px;
}

.input-block{
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: center;
  gap: 50px

}
.task-item {
  width: 600px;
  color: #555;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
    justify-content: space-between;
}
.task-inp {
  width: 400px;
  color: #555;
  border: 1px solid #bbb;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
    justify-content: space-between;
}
.task-item.done {
  background-color: rgb(7, 130, 36);

}


 .btn{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
} 
.btn:hover{
background-color:  rgb(40, 39, 39);;
}


 .task-list {
  margin-bottom: 20px;
}


.task-item.done {
  background-color: lightgreen;
}
.delete-btn {
  float: right;
}

#todoItemTemplate {
  display: none;
}

.container{
  margin: 0 auto;
  width: 600px;
}

.btn-block{
  display: flex;
  gap: 13px;
}
.hidden{
  display: none;
} 
.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
}