body{
  height: 100hv;
  background-color: beige;
  margin: 0 auto;
  padding-top: 100px;
}
.wrap{
  width: 300px;
  margin: auto;
}
#input{
  width: 70%;
}
#btn{
  width: 20%;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#result{
  margin-bottom: 50px;
}
.btn{
  background: red;
  border: none;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  left: 100%;
}

.li{
  padding: 4px 8px;
  background: #fff;
  border: 1px solid brown;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 200px;
  text-transform: capitalize;
}
.li-active{
  color: #555;
  text-decoration:  line-through;
  background: green;
}
.li-active .btn{
  color: #555;
  text-decoration:  line-through;
  background: green;
}