form {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
  }
  form button.small {
    padding: 8px 17px;
  }
  #phonebook {
    margin: 0 auto;
  }
  #phonebook button.tiny {
    margin-bottom: 0;
    padding: 5px 10px;
  }
  .task-list {
    margin-bottom: 20px;
  }

  
  .task-item.done {
    background-color: lightgreen;
  }
  .delete-btn {
    border: 1px solid;
    width: 85px;
    height: 26px;
    color: white;
    background: black;
  }
  
  #todoItemTemplate {
    display: none;
  }

  #addContactBtn{
    border: 1px solid;
    width: 85px;
    height: 26px;
    color: white;
    background: black;
  }
  .delete-btn{
    border: 1px solid;
    width: 85px;
    height: 26px;
    color: white;
    background: black;
    text-align: center;
  }
input{
  font-size: 20px;
  color: darkslategrey;
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
}
  .task-item{
    font-size: 20px;
    color: darkslategrey;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
  }